* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f4f8;
    overflow-y: hidden;
}

.BigContainer {
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9;

}

.sidebar {
    width: 22vw;
    background-color: #ffffff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: inline-block;
}

.sidebar h1 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.sidebar h6 {
    font-style: italic;
    color: #777;
    margin-bottom: 20px;
}

.UI {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icon1 {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
}

#PomoTimer {
    background-color: #e0f7f1;
}

.icon1 span {
    font-size: 22px;
    color: #555;
}

.icon1 p {
    margin-left: 12px;
    font-size: 16px;
    color: #555;
}

.icon1:hover {
    background-color: #e0f7f1;
}



/*Main Timer Body*/
#promodoro {
    height: 20vh;
    width: 78vw;
    font-size: 5vh;
    padding-top: 30px;
    padding-left: 100px;
    position: absolute;
    top: 0vh;
    left: 20vw;
}

#TimerTxx {
    font-size: 4vh;
    position: relative;
    top: 2vh;
    right: 2vw;
    color: #555;
    font-weight: bolder;
}

#TimerText {
    position: relative;
    bottom: 3vh;
    right: 2vw;
    color: #333;
}

#TheCringeText {
    font-size: 2.5vh;
    font-style: italic;
    font-weight: bold;
    position: relative;
    bottom: 1.8vh;
    right: 2vw;
    color: #777;
}

.time {
    top: 25vh;
    position: absolute;
    height: 10vh;
    width: 22vw;
    background-color: #efeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px none;
    border-radius: 2vh;
    font-size: 9vh;
    cursor: pointer;
}

.time:hover {
    background-color: #dfdfdf;
}

#hrs {
    left: 5vw;
}

#mins {
    left: 30vw;
}

#sec {
    left: 55vw;
}

.Thebuttons {
    position: absolute;
    top: 40vh;
    height: 6vh;
    font-size: medium;
    font-weight: 600;
    width: 25vh;
    left: 47vw;
    background-color: #69d1ae;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    z-index: 1;
}

.Thebuttons:hover {
    background-color: #555;
    cursor: pointer;
}

#edit {
    top: 52vh;
    right: 27.3vw;
}

#fullbutton {
    top: 52vh;
    left: 60vw;
}

#StartTimer {
    right: 27.3vw;
    top: 45vh;
}

#Reset {
    left: 60vw;
    top: 45vh;
}

.up {
    height: 9vh;
    width: 21vh;
    position: relative;
    top: 6vh;
    background-image: url('uparrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
    display: none;
    user-select: none;
}

#secup {
    right: -57vw;
}

#minup {
    right: -21vw;
}

#hrsup {
    right: 15vw;
}


.down {
    height: 9vh;
    width: 21vh;
    position: relative;
    top: 35vh;
    background-image: url('downarrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
    display: none;
    user-select: none;
}


#secdown {
    right: -25.1vw;
}

#mindown {
    right: 10.8vw;
}

#hrsdown {
    right: 47vw;
}

#quoateofthedaay {
    height: 15vh;
    width: 70vw;
    position: relative;
    bottom: -76vh;
    left: 9vh;
    display: inline-block;
    border-radius: 5vh;
}


#QuoteState {
    position: relative;
    bottom: 6vh;
    left: 1vw;
    font-size: 18px;
    color: #847b7b;
    font-weight: bold;
}

#QuoteHead {
    position: relative;
    bottom: 8vh;
    color: #555;
    font-size: 4vh;
}
